
  <div class="row container">
    <div class="col m4">
      <h3 class="blue-grey-text text-lighten-1">Quienes somos</h3>
      <div class="flow-text blue-grey-text text-darken-2">
        <p>
          Agrega valor a tu curso con Webinars en vivo: interactúa con alumnos de forma directa, simple y objetiva. Tus alumnos podrán participar dentro del propio ambiente sin necesidad de instalar nada, pudiendo acceder inclusive desde dispositivos móviles.
        </p>
      </div>
    </div>
    <div class="col m8 s12">
      <div  style="margin: 20px 0px;text-align: left; width: 100%; overflow: hidden">
        <img class="responsive-img" src="https://wordpress-cdn.eadbox.com/2015/09/22211929/live-featured-nilson.png">
      </div>
    </div>
  </div>

