.section-box {
  padding: 80px 0;
  border-bottom: solid 1px rgba(176, 186, 191, 0.5);
}

.flow-text {
  font-weight: 300; }
@media only screen and (min-width: 360px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.2rem; } }
@media only screen and (min-width: 0px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 0.8rem; } }
@media only screen and (min-width: 390px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.224rem; } }
@media only screen and (min-width: 30px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 0.904rem; } }
@media only screen and (min-width: 420px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.248rem; } }
@media only screen and (min-width: 60px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 1.008rem; } }
@media only screen and (min-width: 450px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.272rem; } }
@media only screen and (min-width: 90px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 1.112rem; } }
@media only screen and (min-width: 480px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.296rem; } }
@media only screen and (min-width: 120px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 1.216rem; } }
@media only screen and (min-width: 510px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.32rem; } }
@media only screen and (min-width: 150px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 1.32rem; } }
@media only screen and (min-width: 540px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.344rem; } }
@media only screen and (min-width: 180px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 1.424rem; } }
@media only screen and (min-width: 570px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.368rem; } }
@media only screen and (min-width: 210px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 1.528rem; } }
@media only screen and (min-width: 600px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.392rem; } }
@media only screen and (min-width: 240px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 1.632rem; } }
@media only screen and (min-width: 630px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.416rem; } }
@media only screen and (min-width: 270px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 1.736rem; } }
@media only screen and (min-width: 660px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.44rem; } }
@media only screen and (min-width: 300px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 1.84rem; } }
@media only screen and (min-width: 690px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.464rem; } }
@media only screen and (min-width: 330px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 1.944rem; } }
@media only screen and (min-width: 720px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.488rem; } }
@media only screen and (min-width: 360px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 2.048rem; } }
@media only screen and (min-width: 750px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.512rem; } }
@media only screen and (min-width: 390px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 2.152rem; } }
@media only screen and (min-width: 780px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.536rem; } }
@media only screen and (min-width: 420px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 2.256rem; } }
@media only screen and (min-width: 810px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.56rem; } }
@media only screen and (min-width: 450px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 2.36rem; } }
@media only screen and (min-width: 840px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.584rem; } }
@media only screen and (min-width: 480px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 2.464rem; } }
@media only screen and (min-width: 870px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.608rem; } }
@media only screen and (min-width: 510px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 2.568rem; } }
@media only screen and (min-width: 900px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.632rem; } }
@media only screen and (min-width: 540px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 2.672rem; } }
@media only screen and (min-width: 930px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.656rem; } }
@media only screen and (min-width: 570px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 2.776rem; } }
@media only screen and (min-width: 960px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    font-size: 1.68rem; } }
@media only screen and (min-width: 600px) {
  /* line 43, _sass/_vendors/materialize/components/_typography.scss */
  .flow-text {
    line-height: 2.88rem; } }
